@import url(https://unpkg.com/aos@2.3.1/dist/aos.css); 

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: black;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.logo {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 19px;
}


.nav {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(20px);
}


.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}

.user-card {
    position: relative;
    width: 250px;
    height: 200px;
    perspective: 1000px;
    margin: 10px;
}

.front-card,
.back-card {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    border: 2px solid rgb(21, 1, 1);
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(255, 254, 254, 0.2);
    transition: transform 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.front-card {
    background-color: skyblue; 
}

.back-card {
    background-color: orange; 
    transform: rotateX(180deg); 
}

.hidden {
    display: none; 
}

.user-card:hover .front-card {
    transform: rotateX(180deg); 
}

.user-card:hover .back-card {
    transform: rotateX(360deg); 
}
.container-card{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

button {
    margin: 10px;
    padding: 10px 15px;
    font-size: 16px; 
    background-color: #007bff; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;/
}

.button-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 20px; 
}